@import "tailwindcss";
@plugin "daisyui";

#root {
  height: 100dvh;
}

.labelInput {
  display: flex;
  gap: 4px;
  align-items: center;
}

.labelInput input {
  max-width: none;
  width: 100%;
}

.BTNMODALLOGIN {
  margin-top: 14px;
}

.BUTOnnnn {
  margin: 12px;
  position: relative;
}


.backgroundFont {

  position:
    absolute;

  display:
    block;

  top: 0;

  left: 0;

  z-index: 0;
}


section {

  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  text-align: left;
}

.cta {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}



@media (max-width: 768px) {
  section {
    margin: 15px;
  }

  .DesaTItuNAbv {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}